{% extends 'base.html.twig' %} {% block title %}Mealdate {% endblock %} {% block body %}
<div class="home_div">

    <div class="text-light home_text text-center mx-auto">
        <p class="heading">Meal planning was never easier!</p>
        <a href="/register"><button class="btn btn-lg btn-outline-light button">Register</button> </a>
        <a href="/login"><button class="btn btn-lg btn-outline-light button">Login</button></a>
    </div>
</div>
{% endblock %}