{% extends 'base.html.twig' %} {% block title %}New Weekplanner{% endblock %} {% block body %}
<h1 class="headings text-center">Create new Weekplanner</h1>
<div class="d-flex justify-content-center">
    {{ include('weekplanner/_form.html.twig') }}</div>

<div class="text-center"><a href="{{ path('app_static') }}" class="btn btn-outline-dark btnsize mt-2">Back</a></div> {% endblock %}