{% extends 'base.html.twig' %}

{% block title %}New Weekplanner{% endblock %}

{% block body %}
    <h1>Create new Weekplanner</h1>

    {{ include('weekplanner/_form.html.twig') }}

    {# <a href="{{ path('app_weekplanner_index') }}">back to list</a> #}
{% endblock %}
