{% extends "base.html.twig" %} {% block body %}
<div class="container">
    <!-- 3 columns -->
    <div class="text-center">
        <h1 class="mb-5">Eating smart has never been easier</h1>
        <div class="row row-cols-3">
            <div class="col-4">
                <img src="{{asset('pictures/point.png')}}" alt="" class="mb-3">
                <p>Follow any eating style or create your own</p>
                <p>You can customize popular eating styles like vegan and paleo to match your needs and preferences.</p>
            </div>
            <div class="col-4">
                <img src="{{asset('pictures/wallet.png')}}" alt="" class="mb-3">
                <p>Reduce food waste</p>
                <p>Planning ahead means less produce going bad in the fridge. Add what you already own to the virtual pantry and our algorithms will use it up with priority.</p>
            </div>
            <div class="col-4">
                <img src="{{asset ('pictures/calender.png')}}" alt="" class="mb-3">
                <p>Take the anxiety out of picking what to eat</p>
                <p>Make the important decisions ahead of time and on your own schedule. Then there's nothing to worry about when it's time to eat.</p>
            </div>
        </div>
    </div>

    <!-- Testimonials 
    before after pictures are still missing!
    -->
    <div>
        <div class="row mb-5 justify-content-between">
            <div class="col-5">
                <img src="" class="testimonial">
                <img src="" class="testimonial">
            </div>
            <div class="col-7 align-self-center">
                <p>"Eat This Much not only helps me hit my macros, but also makes sure I'm not eating the same bland thing every day. I've lost 35 lbs over the past year, and with ETM, I'm eating and performing better than ever."</p>
                <p class="mt-3">Sam Konowich @samkonthemankon</p>
            </div>

        </div>
        <div class="row mb-5 justify-content-between">
            <div class="col-7 align-self-center">
                <p>
                    "I found out about Eat This Much in July 2017 and lost 32 lbs in 6 months! Now I'm a fit over 50 female in amazing condition, and this site is what I refer to several times a day to ensure I eat properly and manage my macros."</p>
                <p class="mt-3">Meg M., awesome ETM user</p>
            </div>
            <div class="col-5">
                <img src="" class="testimonial">
                <img src="" class="testimonial">
            </div>
        </div>
        <div class="row mb-5 justify-content-between">
            <div class="col-5">
                <img src="" class="testimonial">
                <img src="" class="testimonial">
            </div>
            <div class="col-7 align-self-center">
                <p>
                    "I started tracking my weight in April of 2013 when I was 184lbs. In May I signed up for Eat This Much and immediately appreciated being able to just cook the menu and not worry about what to have for dinner. By November I was down to 155lbs and I still
                    use Eat This Much today!"</p>
                <p class="mt-3">Ben Kutil, Product designer</p>
            </div>
        </div>
    </div>

</div>

{% endblock %}