<div id="mainNavigation">
    <nav role="navigation">
        <div class="py-3 text-center border-bottom">
            <img src="{{asset('pictures/logo - Kopie.png')}}" alt="" class="invert">
        </div>
    </nav>
    <div class="navbar-expand-md">
        <div class="navbar-dark text-center my-2">
            <button class="navbar-toggler w-75" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> <span class="align-middle">Menu</span>
        </button>
        </div>
        <div class="text-center mt-3 collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/recipes/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/about">About</a>
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/">Dashboard</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/logout">Logout</a>
                </li>
                {% elseif is_granted("ROLE_USER") %}
                <li class="nav-item">
                    <a class="nav-link active" href="/weekplanner/">Weekplanner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/static/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/logout">Logout</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</div>