{% extends 'base.html.twig' %} {% block title %}New Recipes{% endblock %} {% block body %}
<h1 class="headings text-center">Create new Recipes</h1>

{{ include('recipes/_form.html.twig') }}

<div class="text-center"><a href="{{ path('app_recipes_index') }}" class="btn btn-outline-dark btnsize mt-2">Back</a></div> {% endblock %}